[Desktop Entry]
Encoding=UTF-8
Comment[zh_CN]=使用WPS表格分析、管理数据
Comment=Use Kingsoft Spreadsheets to analyze manage data.
Exec="/usr/bin/et" 
GenericName[zh_CN]=
GenericName=
MimeType=application/x-et;application/x-ett;application/x-xls;application/x-xlt;application/x-xlsx;application/x-xltx;application/vnd.ms-excel;application/msexcel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.openxmlformats-officedocument.spreadsheetml.template;
Name[zh_CN]=WPS表格
Name=Kingsoft Spreadsheets
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=/opt/kingsoft/wps-office/office6/icons/etmain.png
