Source: ubuntukylin-default-settings
Section: x11
Priority: optional
Maintainer: Huan Peng <penghuanmail@126.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://launchpad.net/ubuntukylin-default-settings
XS-Vcs-Bzr: https://code.launchpad.net/~ubuntukylin-members/ubuntukylin-default-settings/ubuntukylin-default-settings

Package: ubuntukylin-default-settings
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: default settings and artwork for UbuntuKylin version
 This package contains the default settings used by UbuntuKylin desktop.
