#!/usr/bin/make -f

%:
	dh "$@"
override_dh_auto_build:
	dh_auto_build
	sed '/NAME/s/Ubuntu/Ubuntu Kylin/g' /etc/os-release > \
	    $(CURDIR)/debian/os-release
override_dh_install:
	dh_install
	dh_ubuntu_defaults
