Package: ubuntukylin-default-settings
Version: 0.1
Architecture: all
Maintainer: Ubuntu Kylin Team <ubuntukylin-members@lists.launchpad.net>
Installed-Size: 653
Depends: dconf-gsettings-backend | gsettings-backend, gwibber-service-sina, gwibber-service-sohu
Conflicts: ubuntu-default-settings
Provides: ubuntu-default-settings
Priority: optional
Description: Default settings for Ubuntu customizations
 This package contains customized default settings.
